* {
    margin: 0;
}

h1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 116px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

h2 {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

h3 {
    color: #FFF;
    text-align: start;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

p {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button:hover {
    background-color: #ffd700;
  }